{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}
<h3>Theme list</h3>
<p><a href="{% url 'boards:create_theme' %}" class=n"avbar-brand">Create theme</a></p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        {% for theme in themes %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ theme.title }}</td>
            <td>{{ theme.user }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}