{% extends "base.html" %}

{% block content %}
<div class="col-10 offset-1">
    {% if items %}
    <table>
        <tbody>
            {% for item in items %}
                <tr>
                    <td style="width:20%%">
                    {% if item.picture %}
                        <img src="{{ item.picture }}" width="75px" height="75" alt="">
                    {% endif %}
                    </td>
                    <td style="width:20%%">
                        {{ item.name }} <br>${{ item.price }}
                    </td>
                    <td>
                        {{ item.quantity}} <br>
                        {% if not item.in_stock %}
                            Not enough stock. Please reinput quantity.
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h3 class="offset-9">Total Price: {{ total_price }}</h3>
    {% else %}
    
    {% endif %}
</div>
{% endblock content %}