{% extends "base.html" %}

{% block content %}
<div class="col-6 offset-3">
    <div style="float: left; padding: 0 20px 20px 0;">
        {% for picture in object.productpictures_set.all %}
            {% if forloop.first %}
                <div><img src="{{ picture.picture.url}}" width="200px" height="200px"></div>
            {% else %}
                <img src="{{ picture.picture.url}}" width="50px" height="50px">
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <p>Product Name: {{ object.name }}</p>
        <p>Product Price: {{ object.price }}</p>
        <p>Product Stock: {{ object.stock }}</p>
        {% if object.stock %}
        <input type="number" id="quantity" name="quantity" min="1" max="{{ object.stock }}">
        <button id="add_product" type="button" class="btn btn-primary">Add cart</button>
        {% endif %}
        <input type="hidden" name="csrfToken" value="{{ csrf_token }}">
    </div>
</div>
<script>
    $('#add_product').click(function(){
        var quantity = $("#quantity").val();
        var token = $("input[name="csrfToken"]").attr("value");
        $.ajaxSetup({
            beforeSend: function(xhr){
                xhr.setRequestHeader("X-CSRFToken", token);
            }
        })
        $.ajax({
            url: "{% url "stores:add_product" %}",
            type: "POST",
            data: {product_id: "{{ object.id }}", quantity: quantity},
            dataType: "json",
            success: function(json){
                if(json.message){
                    alert(json.message);
                }
            },
            error: function(error){
                alert(error.responseJSON.message);
            }
        });
    });
</script>
{% endblock content %}
