{% comment %} <h1>Name: {{ my_name }}</h1>
<h2>Fruit: {{ favorite_fruits.2 }}</h2>
<h3>Age: {{ my_info.age }}</h3> {% endcomment %}

<ul>
    {% for fruit in favorite_fruits %}
        <li>{{ fruit }}</li>
    {% endfor %}
</ul>

{% if "Grape" in favorite_fruits %}
    <p>Grape is available</p>
{% elif "Lemon" in favorite_fruits %}
    <p>Lemon is available</p>
{% else %}
    <p>Not found</p>
{% endif %}

{% if "age" in my_info %}
    <p>Age in my_info</p>
    {% if my_info.age < 71 %}
        <p>younger than 71</p>
    {% endif %}
{% endif %}